idea.key
plugin_PCWMP.license
updatedBrokenPlugins.db
tasks/
.lock
c.kdbx
c.pwd
workspace/
actionSummary.xml
features.usage.statistics.xml
other.xml
recentProjects.xml
window.state.xml
project.default.xml
trusted-paths.xml
jdk.table.xml
bundled_plugins.txt
early-access-registry.txt
extensions/
databaseDrivers.xml
proxy.settings.*
jdbc-drivers.xml
sonarlint.xml
KeyPromoterXStatistic.xml
vcs-inputs.xml
user.web.token
overrideFileTypes.xml
updates.xml
web-types-npm-loader.xml
disabled_update.txt
